<div class="grid grid-cols-1">
    <div class="col-span-1 bg-gray-100 m-4 p-8 rounded text-center text-lg">
        <h1 class="text-xl font-bold">Hello World, from <%= @messenger %>!</h1>
    </div>
</div>